# movie recomendation

### i will use these datasets from kaggle

TMDB:  https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata

movie industry: https://www.kaggle.com/datasets/danielgrijalvas/movies

Netflix Movies and TV Shows : https://www.kaggle.com/datasets/shivamb/netflix-shows

In [280]:
import pandas as pd

In [281]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE93-B2F3

 Directory of C:\Users\Saeed\Documents\GitHub\Data_Analysis\Movie recomendation\TMDB 5000 Movie Dataset

2023/08/31  04:59 UšOš¥    <DIR>          .
2023/08/31  04:59 UšOš¥    <DIR>          ..
2019/09/19  05:34 UšOš¥        40,044,293 tmdb_5000_credits.csv
2019/09/19  05:34 UšOš¥         5,698,602 tmdb_5000_movies.csv
               2 File(s)     45,742,895 bytes
               2 Dir(s)  43,182,985,216 bytes free

In [315]:
tmdb_credits = pd.read_csv('tmdb_5000_credits.csv')
tmdb_movies = pd.read_csv('tmdb_5000_movies.csv')

In [283]:
tmdb_credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [319]:
tmdb_movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{'name': 'Ingenious Film Partners', 'id': 289...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2787965087,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [289]:
tmdb_movies["genres"][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [265]:
cd  -

C:\Users\Saeed\Documents\GitHub\Data_Analysis\Movie recomendation

## convert str to json in tmdb datasets

## warning : after loading our datasets, run these two cell for one time, unless you will get error

In [316]:
tmdb_movies_json = ["genres", "keywords",
                    "production_companies", 
                    "production_countries", 
                    "spoken_languages" ]


for column in tmdb_movies_json:
    tmdb_movies[column] = tmdb_movies[column].apply(json.loads)

In [322]:
tmdb_credits_json = ["cast", "crew"]

for column in tmdb_credits_json:
    tmdb_movies[column] = tmdb_credits[column].apply(json.loads)

# now we will load Netflix dataset

In [327]:
netflix_titles = pd.read_csv("netflix_titles.csv")

In [329]:
netflix_titles.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

# now we will load movie industry dataser

In [330]:
pwd

'C:\\Users\\Saeed\\Documents\\GitHub\\Data_Analysis\\Movie recomendation\\Netflix Movies and TV Shows'

In [331]:
cd-

C:\Users\Saeed\Documents\GitHub\Data_Analysis\Movie recomendation

In [333]:
cd movie industry

C:\Users\Saeed\Documents\GitHub\Data_Analysis\Movie recomendation\movie industry

In [334]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CE93-B2F3

 Directory of C:\Users\Saeed\Documents\GitHub\Data_Analysis\Movie recomendation\movie industry

2023/08/31  04:59 UšOš¥    <DIR>          .
2023/08/31  04:59 UšOš¥    <DIR>          ..
2021/07/23  06:48 UšOš¥         1,352,598 movies.csv
               1 File(s)      1,352,598 bytes
               2 Dir(s)  43,185,229,824 bytes free

In [336]:
movie_industry = pd.read_csv("movies.csv")

In [338]:
movie_industry.head(1)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0