# movie recomendation

### i will use these datasets from kaggle

TMDB:  https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata

movie industry: https://www.kaggle.com/datasets/danielgrijalvas/movies

Netflix Movies and TV Shows : https://www.kaggle.com/datasets/shivamb/netflix-shows

In [24]:
import pandas as pd
import numpy as np
import json
import ast

In [115]:
tmdb_credits = pd.read_csv('TMDB 5000 Movie Dataset/tmdb_5000_credits.csv')
tmdb_movies = pd.read_csv('TMDB 5000 Movie Dataset/tmdb_5000_movies.csv')

In [88]:
tmdb_credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [89]:
tmdb_movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

### let's merge two table tmdb_movies and tmdb_credits on a new table named tmdb

In [116]:
tmdb = tmdb_movies.merge(tmdb_credits, on="title")

In [6]:
tmdb.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
tmdb_columns = tmdb.columns

In [8]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

### for columns that types are not in exact right situation and they are in a ast node:

In [9]:
fucked_columns = ["crew", "cast", "spoken_languages", "production_companies", "keywords", "genres"]

In [10]:
for column in fucked_columns:
    print(column)

crew
cast
spoken_languages
production_companies
keywords
genres

In [145]:
def column_tolist(column_name, dataframe_name, key_name):
    """column_name: srt, dataframe_name: pandas dataframe"""
    """get a column from pandas dataframe and covnert rows to a reachable datatype"""
    """This convertion will be done with ast library and literal_eval method"""


    
    def find_right_keydict(key_name, dataframe_name, column_name, index):
        """This will search in dictionaries and find values of given keys in certain dict """
        """nested_list: this is a list which has nested dict inside"""
        
        qualified_keys = list()
        target = dataframe_name[column_name][index]
        target_list = ast.literal_eval(target)

        for target_dict in target_list:
            
            if key_name in target_dict:
                qualified_keys.append(target_dict[key_name])
        
        return qualified_keys
                    


    # result will be stored here. later on we can use this array to append a new column to a new dataframe
    output_list = list() # this list will be countain of all our values.
    for index in range(len(dataframe_name[column_name])):

        name_list = find_right_keydict(key_name=key_name, dataframe_name=dataframe_name, column_name=column_name, index=index)
        output_list.append(name_list)
        
    return output_list

# Genre vs country

### now we will create a new dataframe based on country and Genres

In [146]:
# first create list with proper and handy format

country = column_tolist(column_name="production_countries", dataframe_name=tmdb, key_name="name")

In [147]:
country[:3]

[['United States of America', 'United Kingdom'],
 ['United States of America'],
 ['United Kingdom', 'United States of America']]

In [148]:
genres = column_tolist(column_name="genres", dataframe_name=tmdb, key_name="name")

In [149]:
genres[:3]

[['Action', 'Adventure', 'Fantasy', 'Science Fiction'],
 ['Adventure', 'Fantasy', 'Action'],
 ['Action', 'Adventure', 'Crime']]

### now create a dataframe using genres and country

In [150]:
genres_countries = pd.DataFrame(list(zip(genres, country)),
               columns =['genres', 'countries'])

In [152]:
genres_countries.head(2)

,genres,countries
0,"[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]"
1,"[Adventure, Fantasy, Action]",[United States of America]

### now we have a dataframe on genres and countries
### but we want to find countries of each genre

In [155]:
# lets find unique genres
unique_genres = []

for row_genres in genres_countries["genres"]:
    
    for genre in row_genres:
        if genre not in unique_genres:
            unique_genres.append(genre)

In [163]:
unique_genres[:2]

['Action', 'Adventure']

In [157]:
# lets find unique countries
unique_countries = []

for row_counties in genres_countries["countries"]:
    
    for country in row_counties:
        if country not in unique_countries:
            unique_countries.append(country)

In [160]:
# list of unique countries
unique_countries[:5]

['United States of America',
 'United Kingdom',
 'Jamaica',
 'Bahamas',
 'Dominica']

### now we will create a dictionary in this format:

### {genre: {sample_country: times of repeating country in this genre}}

In [223]:
# set_country = {}
# for country in unique_countries:
#     set_country[country] = 0

In [233]:
main_dict = {}

for genre in unique_genres:
    main_dict[genre] = {'United States of America': 0,'United Kingdom': 0,'Jamaica': 0,
                          'Bahamas': 0,'Dominica': 0,'Czech Republic': 0,'Poland': 0,'Slovenia': 0,'New Zealand': 0,
                          'Germany': 0,'China': 0,'Canada': 0,'Italy': 0,'Japan': 0,'Malta': 0,'Australia': 0,
                          'France': 0,'Belgium': 0,'India': 0,'Netherlands': 0,'Spain': 0,'United Arab Emirates': 0,
                          'Hong Kong': 0,'Taiwan': 0,'Ireland': 0,'Morocco': 0,'Hungary': 0,'Singapore': 0,'Norway': 0,
                          'Sweden': 0,'South Africa': 0,'Russia': 0,'Romania': 0,'Mexico': 0,'Monaco': 0,
                          'Switzerland': 0,'Pakistan': 0,'Malaysia': 0,'Finland': 0,'Iceland': 0, 'Denmark': 0,
                          'Tunisia': 0,'Philippines': 0,'Bulgaria': 0,'South Korea': 0,'Brazil': 0,
                          'Peru': 0,'Luxembourg': 0,'Bosnia and Herzegovina': 0,'Kazakhstan': 0,'Portugal': 0,
                          'Aruba': 0,'Libyan Arab Jamahiriya': 0,'Serbia': 0,'Ukraine': 0,'Chile': 0,'Argentina': 0,'Panama': 0,
                          'Austria': 0,'Greece': 0,'Lithuania': 0,'Cambodia': 0,'Thailand': 0,'Slovakia': 0,
                          'Israel': 0,'Fiji': 0,'Serbia and Montenegro': 0,'Turkey': 0,
                          'Nigeria': 0,'Cyprus': 0,'Jordan': 0,'Bolivia': 0,'Ecuador': 0,'Colombia': 0,'Egypt': 0,'Bhutan': 0,
                          'Lebanon': 0,'Kyrgyz Republic': 0,'Algeria': 0,'Indonesia': 0,'Guyana': 0,'Iran': 0,'Guadaloupe': 0,
                          'Afghanistan': 0,'Angola': 0, 'Dominican Republic': 0,'Cameroon': 0,'Kenya': 0}

### now we will update our dictionary according to our genres_countries dataframe

In [234]:
def update_genre_dict(given_genre):
    """This will updata main_dict while a movie is repeat in a sepicific country and certain genre"""
    for index in range(len(genres_countries["genres"])):
        
        if given_genre in genres_countries["genres"][index]:
            
            for country in genres_countries["countries"][index]:
                main_dict[given_genre][country] = main_dict[given_genre][country] + 1

In [235]:
for genre in unique_genres:
    update_genre_dict(genre) # this loop will updata all values of main_dict

In [245]:
pd.DataFrame.from_dict(main_dict, orient="index")

,United States of America,United Kingdom,Jamaica,Bahamas,Dominica,Czech Republic,Poland,Slovenia,New Zealand,Germany,...,Algeria,Indonesia,Guyana,Iran,Guadaloupe,Afghanistan,Angola,Dominican Republic,Cameroon,Kenya
Action,993,178,2,2,1,11,0,0,10,101,...,0,1,0,0,0,0,0,0,0,0
Adventure,689,147,2,2,1,9,1,1,13,52,...,0,0,0,0,0,0,0,0,0,0
Fantasy,370,67,1,1,1,7,1,1,10,32,...,0,0,0,0,0,0,1,0,0,0
Science Fiction,462,75,0,0,0,5,0,0,1,34,...,0,0,0,0,0,0,0,0,0,0
Crime,590,109,0,0,0,5,0,0,0,62,...,0,1,0,0,0,0,0,1,0,0
Drama,1802,344,0,1,0,9,5,1,13,172,...,0,0,1,4,1,1,1,1,0,1
Thriller,1088,206,1,2,0,14,1,0,9,118,...,0,1,0,0,0,0,0,0,0,0
Animation,193,16,0,0,0,1,0,0,2,10,...,0,0,0,0,0,0,0,0,0,0
Family,448,56,0,0,0,3,1,1,2,22,...,0,0,0,1,0,0,0,0,0,0
Western,70,8,0,0,0,1,0,0,2,3,...,0,0,0,0,0,0,0,0,0,0
Comedy,1491,164,0,0,0,4,2,1,2,92,...,0,0,0,1,0,0,1,0,0,0
Romance,741,126,0,0,0,2,0,0,3,53,...,0,0,0,0,0,0,0,0,0,0
Horror,432,50,0,0,0,3,1,0,3,35,...,0,0,0,0,0,0,1,0,0,0
Mystery,296,46,0,0,0,3,0,0,2,33,...,0,0,0,0,0,0,1,0,0,0
History,129,47,0,0,0,2,0,0,1,25,...,0,0,0,0,0,0,0,0,0,0
War,106,35,0,0,0,1,1,0,1,22,...,0,0,0,0,0,0,0,0,0,0
Music,166,26,0,0,0,0,0,0,0,7,...,0,0,0,0,0,0,0,0,0,0
Documentary,74,14,0,1,0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,1,0
Foreign,2,7,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
TV Movie,7,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [196]:
main_dict

{'Action': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Adventure': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Fantasy': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Science Fiction': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Crime': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Drama': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Thriller': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Animation': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Family': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Western': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Comedy': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Romance': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,
  'Kenya': 0},
 'Horror': {'United States of America': 0,
  'United Kingdom': 0,
  'Jamaica': 0,
  'Bahamas': 0,
  'Dominica': 0,
  'Czech Republic': 0,
  'Poland': 0,
  'Slovenia': 0,
  'New Zealand': 0,
  'Germany': 0,
  'China': 0,
  'Canada': 0,
  'Italy': 0,
  'Japan': 0,
  'Malta': 0,
  'Australia': 0,
  'France': 0,
  'Belgium': 0,
  'India': 0,
  'Netherlands': 0,
  'Spain': 0,
  'United Arab Emirates': 0,
  'Hong Kong': 0,
  'Taiwan': 0,
  'Ireland': 0,
  'Morocco': 0,
  'Hungary': 0,
  'Singapore': 0,
  'Norway': 0,
  'Sweden': 0,
  'South Africa': 0,
  'Russia': 0,
  'Romania': 0,
  'Mexico': 0,
  'Monaco': 0,
  'Switzerland': 0,
  'Pakistan': 0,
  'Malaysia': 0,
  'Finland': 0,
  'Iceland': 0,
  'Denmark': 0,
  'Tunisia': 0,
  'Philippines': 0,
  'Bulgaria': 0,
  'South Korea': 0,
  'Brazil': 0,
  'Peru': 0,
  'Luxembourg': 0,
  'Bosnia and Herzegovina': 0,
  'Kazakhstan': 0,
  'Portugal': 0,
  'Aruba': 0,
  'Libyan Arab Jamahiriya': 0,
  'Serbia': 0,
  'Ukraine': 0,
  'Chile': 0,
  'Argentina': 0,
  'Panama': 0,
  'Austria': 0,
  'Greece': 0,
  'Lithuania': 0,
  'Cambodia': 0,
  'Thailand': 0,
  'Slovakia': 0,
  'Israel': 0,
  'Fiji': 0,
  'Serbia and Montenegro': 0,
  'Turkey': 0,
  'Nigeria': 0,
  'Cyprus': 0,
  'Jordan': 0,
  'Bolivia': 0,
  'Ecuador': 0,
  'Colombia': 0,
  'Egypt': 0,
  'Bhutan': 0,
  'Lebanon': 0,
  'Kyrgyz Republic': 0,
  'Algeria': 0,
  'Indonesia': 0,
  'Guyana': 0,
  'Iran': 0,
  'Guadaloupe': 0,
  'Afghanistan': 0,
  'Angola': 0,
  'Dominican Republic': 0,
  'Cameroon': 0,

**now we want to create a new dataframe using unique genres and countries**

### relation between :


#### genres and production company
#### genres and release_date
#### genres and budget
#### genres and language
#### genres and popularity
#### popularity and production_companies

# relation between genres and production country

In [409]:
import seaborn as sns

# lets find out fantasy movies are product in which countries